# Structure pools
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool templates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool rawTemplates

# ShulkerBullet
protected net.minecraft.world.entity.projectile.ShulkerBullet selectNextMoveDirection(Lnet/minecraft/core/Direction$Axis;)V
protected net.minecraft.world.entity.projectile.ShulkerBullet setMoveDirection(Lnet/minecraft/core/Direction;)V
protected net.minecraft.world.entity.projectile.ShulkerBullet finalTarget
protected net.minecraft.world.entity.projectile.ShulkerBullet targetId
protected net.minecraft.world.entity.projectile.ShulkerBullet currentMoveDirection
protected net.minecraft.world.entity.projectile.ShulkerBullet flightSteps
protected net.minecraft.world.entity.projectile.ShulkerBullet targetDeltaX
protected net.minecraft.world.entity.projectile.ShulkerBullet targetDeltaY
protected net.minecraft.world.entity.projectile.ShulkerBullet targetDeltaZ

# Player
public net.minecraft.world.entity.player.Player inventory
public net.minecraft.world.entity.player.Inventory compartments

# Entity rotations
public net.minecraft.world.entity.Entity yRot
public net.minecraft.world.entity.Entity xRot

# Targeting
public net.minecraft.world.entity.ai.targeting.TargetingConditions <init>(Z)V

# Mob move control
public net.minecraft.world.entity.Mob moveControl

# Attributes
public net.minecraft.world.entity.ai.attributes.AttributeMap attributes

# Particles
public net.minecraft.core.particles.SimpleParticleType <init>(Z)V
